.container {
    width: 400px;
    margin: auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .cell {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .selected {
    background-color: lightblue;
  }
  